<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{{pageTitle}}</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
                integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
                crossorigin="anonymous">
        <link rel="shortcut icon" href="../../images/favicon.png" type="image/x-icon">
</head>

<body>
        <header>
                <h1>{{pageTitle}}</h1>
                <p><a href="/">Home</a></p>
                <p><a href="/about">About</a></p>
                <p><a href="/projects">Projects</a></p>
        </header>